<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
    {{ partial "svgs.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>
